// Color Variables
$yellow: rgba(251, 247, 218, 1);
$blue: rgba(199, 255, 254, 1);

// Gaps and Padding
$sectionGap: 3.5rem;
$panelPadVertical: calc($sectionGap * 2);

$aboutProjectPadBottomMobile: 0.5rem;
$aboutProjectPadBottomPC: 0.6rem;

$featureHeaderPadMobile: 1.5rem 0 0.5rem 0;
$featureHeaderPadBottomPC: 1rem;


// Image Wrappers Width
$imgWrapperWidthPC: clamp(375px, 40%, 437.50px);
$imgWrapperShadow: 0 0 0.55rem black;
 
$svgImgWrapperWidthMobile: min(170px, 55%);
$svgImgWrapperWidthPC: clamp(200px, 40%, 300px);

// Fonts
$headerFont: clamp(1.1rem, 3vw, 1.5rem);
$textFont: clamp(0.9rem, 2vw, 1.2rem);


.yellowPanel {
    background-color: $yellow;
}

.bluePanel {
    background-color: $blue;
}


@mixin panelMobile {
    #aboutProjectPanel {
        padding: $sectionGap 2rem;
        box-sizing: border-box;
        background-color: $yellow;

        #aboutProjectHeader {
            padding-bottom: $aboutProjectPadBottomMobile;
            margin: 0;
            font-size: $headerFont;
        }

        #aboutProjectText {
            margin: 0;
            font-size: $textFont;
        }
    }
    
    .panelWrapper {    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $sectionGap 2rem;
    
        .imgWrapper {
            width: 100%; 
            aspect-ratio: 5/4; 
            
            .panelImage {
                width: 100%;
                height: 100%;
                border-radius: 1.2rem;
                box-shadow: $imgWrapperShadow;
                aspect-ratio: 5/4;
                object-fit: cover;
            }
        }

        .svgImgWrapper  {
            width: $svgImgWrapperWidthMobile;
            aspect-ratio: 1/1;

            .panelImage {
                width: 100%;
                height: 100%;
                box-shadow: $imgWrapperShadow;
            }
        }

        .panelTextContainer {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .featureHeader {
                padding: $featureHeaderPadMobile;
                margin: 0;
                font-size: $headerFont;
            }

            .featureText {
                padding: 0;
                margin: 0;
                font-size: $textFont;
            }
        }
    } 
}

@mixin panelPC() {
    #aboutProjectPanel {
        padding: $sectionGap 20%;
        text-align: center;

        #aboutProjectHeader {
            padding-bottom: $aboutProjectPadBottomPC;
            margin: 0;
        }
    }

    .panelWrapper {
        flex-direction: row;
        justify-content: center;
        column-gap: 4.5rem;
        padding: $panelPadVertical 0;
    
        .imgWrapperRight {
            order: 2;
        }
        
        .imgWrapper {
            width: $imgWrapperWidthPC;
        }

        .svgImgWrapper {
            width: $svgImgWrapperWidthPC;

            .panelImage {
                border-radius: 1.2rem;
            }
        }

        .panelTextContainer {
            justify-content: center;
            width: 40%;
            flex-shrink: 0;

            .featureHeader {
                padding-bottom: $featureHeaderPadBottomPC;
            }
        } 
    }  
}

