$navColor: white;
$dropdownMenuColor: rgba(230, 230, 230, 1);
$dropdownLinkColor: rgba(125, 125, 125, 0.6);
$dropdownLinkHoverColor: black;

$navFontPC: 1.1rem;


$navHeight: 3rem;
$contentsWidth: 30%; 
$logoWidth: 40%;
$fillerWidth: 30%;

$navContentMinWidthPC: 345px;
$navContentWidthPC: 40%;
$minLogoWidthPC: 150px;
$logoWidthPC: 20%;
$fillerWidthPC: 40%;

$dropdownLinkGap: 1rem;
$dropdownMainLinkGap: 0.6rem;


// Dropdown Menu PC 
@mixin dropdownMenuPC {
    #linkContainer2:hover #projectDropdown {
        display: block;
    }
    
    #linkContainer2 {
        position: relative;

        #projectDropdown {
            display: none;
            width: 100%;
            position: absolute;
            background-color: $dropdownMenuColor;
     
            .projectLink {
                display: block;
                margin-bottom: $dropdownLinkGap;
                text-align: center;
                text-decoration: none;
                font-size: $navFontPC;
                color: $dropdownLinkColor;
            }

            .projectLink:hover {
                color: $dropdownLinkHoverColor;
            }

            #mainProjectLink {
                margin-top: $dropdownMainLinkGap;
                padding-bottom: 0.6rem;
                border-bottom: 0.2rem solid white;
            }
        }
    }
}


// DESIGN FOR MOBILE PHONES
@media screen and (max-width: 480px) {
    
    .bodyDisableScroll {
        height: 100vh;
        overflow: hidden;
    }

    nav {
        display: flex;
        height: $navHeight;
        position: relative;
        background-color: $navColor;
        
        #burgerMenuArea {
            width: $contentsWidth;

            #burgerMenuIcon {
                width: 2rem;
                height: $navHeight;
                padding-left: 0.6rem;
            }
        }
            
        #navLogoArea {
            width: $logoWidth;

            #logoLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
        }
    
        #navFillerArea {
            width: $fillerWidth;
        }
        
        #burgerMenuClosed {
            display: none;
        }

        #burgerMenuOpened {
            width: 60%;
            height: 100vh;
            position: absolute;
            top: 100%;
            background-color: rgba(190, 190, 190, 0.95);
            z-index: 999;

            #navContentList {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                margin-top: 2.5rem;
                list-style-type: none;

                #linkContainer1:hover, #linkContainer2:hover, #linkContainer3:hover {
                    background-color: rgba(150, 150, 150, 0.7);
                }
                
                #linkContainer1, #linkContainer2, #linkContainer3 {
                    width: 100%;

                    .navlink {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 0.7rem 0 0.7rem 0;
                        text-decoration: none;
                        color: white;
                    }
                }

                #linkContainer2 {
                    #link2 {
                        padding-bottom: 0;
                    }
                    
                    #projectDropdown {
                        display: none;
                        
                        .projectLink {
                            display: block;
                            text-align: center;
                            padding-top: 1rem;
                            text-decoration: none;
                            color: white;
                        }

                        #projectLink2 {
                            padding-bottom: 0.8rem;
                        }
                    } 
                }
                
                #linkContainer2:hover #projectDropdown { // ADD ACCORDION INSTEAD 
                    display: block
                }
                
            }
        }
    } 
}

   
// DESIGN FOR DESKTOPS 
@media screen and (min-width: 480px) {
    nav {
        display: flex;
        height: $navHeight;
        background-color: $navColor; 

        #burgerMenuIcon, #burgerMenuClosed {
            display: none;
        }

        #navContentList {
            display: flex;
            min-width: $navContentMinWidthPC;
            width: $navContentWidthPC;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
        
            #linkContainer1:hover, #linkContainer2:hover, #linkContainer3:hover {
                background-color: rgba(230, 230, 230, 1);
            }
            
            #linkContainer1, #linkContainer2, #linkContainer3 {
                flex-grow: 1;
                
                .navlink {
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: $navFontPC;
                    color: black;
                }
            }

            @include dropdownMenuPC();
        }

        #navLogoArea {
            min-width: $minLogoWidthPC;
            flex-grow: 1;
            
            #logoLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: $navFontPC;
            }
        }
            
        #navFillerArea {
            width: 0;
        }
    }
}



@media screen and (min-width: 855px) {
    
    nav {
        display: flex;
        height: $navHeight;
        background-color: $navColor; 

        #burgerMenuIcon, #burgerMenuClosed {
            display: none;
        }

        #navContentList {
            display: flex;
            min-width: $navContentMinWidthPC;
            width: $navContentWidthPC;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
        
            #linkContainer1:hover, #linkContainer2:hover, #linkContainer3:hover {
                background-color: rgba(230, 230, 230, 1);
            }
            
            #linkContainer1, #linkContainer2, #linkContainer3 {
                flex-grow: 1;
                
                .navlink {
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: $navFontPC;
                    color: black;
                }
            }
        }

        #navLogoArea {
            min-width: $minLogoWidthPC;
            width: $logoWidthPC;
            
            #logoLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: $navFontPC;
            }
        }
            
        #navFillerArea {
            width: $fillerWidthPC;
        }
            
        @include dropdownMenuPC();
    }
}







