@import "homepagePartial";

// PROFILE PICTURE VARIABLES
$profilePicWidthPC: 200px;

// FONT VARIABLES
$myNameFontPC: 2.3rem;

$basicInfoTextFontPC: 1rem;


$approachItemFontPC: 1.2rem;
$approachDropdownFontPC: 1.05rem;


$skillNameFontPC: 1.3rem;
$skillDropdownFontPC: 1.05rem;

// ICON HEIGHT VARIABLES (BASED ON FONT SIZES)
$basicInfoIconsHeightPC: 1.5rem;


$contactIconsHeightPC: $basicInfoTextFontPC;
$contactIconsTextGapPC: 0.6rem; 

$puzzleIconHeightPC: 1.7rem; 
$gearIconHeightPC: 2.7rem;
$speechIconHeightPC: 2rem;


// PADDING VARIABLES
$descrInfoLeftPadPC: 0.4rem;
$basicInfoGapPC: 5rem;

$listItemVerticalMarginPC: 2rem;




// Redoing styles 
@media screen and (min-width: 480px) {

    .headerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid black;
    }

    // actual headers

    .generalHeader {
        padding-left: 0.7rem; 
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .experiseHeader {
        padding-left: 0.4rem;
        margin: 0;
        font-size: 2rem;
        text-align: center;
    }
}



// OLD STYLING

@media screen and (min-width: 480px) {

    #homepageLayout {
        display: flex;
    }

    #expertiseSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 58%;
    }

    #generalSection:hover {
        background-color: $aboutMeSectionColorHover;
    }

    #generalSection {
        display: flex;
        flex-direction: column;
        width: 42%;
        padding: $sectionGap 0;
        background-color: $aboutMeSectionColor;

        #profileContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: $sectionGap;
           
            #myPhotoContainer {
                width: $profilePicWidthPC;
                

                #myPhoto {
                    width: 100%;
                    height: 100%; 
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: 0 0 0.1rem black;
                }
            }
        
            #myName {
                padding-top: $myNameGapTop;
                margin: 0;
                text-align: center;
                font-size: $myNameFontPC;
            }
        }

        #aboutMeContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1.5rem;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        #aboutMeInfoContainer, #contactInfoContainer, #educationContainer {
            width: 80%;
            align-self: center;
            box-sizing: border-box;
            word-wrap: break-word;
        }

        #aboutMeInfo, #contactInfoList, #educationList {
            padding-left: $descrInfoLeftPadPC;
            margin: $descrGapFromHeader 0 0 0;
        }

        #aboutMeInfo, .contactInfoItem, .educationInfoItem {
            font-size: $basicInfoTextFontPC;
        }

        #aboutMeInfoContainer, #contactInfoContainer {
            padding-bottom: $basicInfoGapPC;
        }

        #aboutMeInfoContainer {
            #contactIcon {
                height: calc($basicInfoIconsHeightPC + 0.1rem);
                @include iconSelectPrevent();
            }
        }

        #contactInfoContainer {
        
            #contactBookIcon {
                height: $basicInfoIconsHeightPC;
                @include iconSelectPrevent();
            }

            #contactInfoList {
                
                #contactEmail, #contactLinkedIn {
                    word-break: break-all;
                }

                .contactInfoItem {
                    list-style-type: none;
                    margin-top: 1.4rem;

                    #addressIcon {
                        height: $contactIconsHeightPC;
                        padding-right: $contactIconsTextGapPC;
                        vertical-align: -0.1rem;
                        @include iconSelectPrevent();
                    }

                    #emailIcon {
                        height: $contactIconsHeightPC;
                        padding-right: $contactIconsTextGapPC;
                        @include iconSelectPrevent();
                    }

                    #phoneIcon {
                        height: calc($contactIconsHeightPC - 0.1rem);
                        padding-right: $contactIconsTextGapPC;
                        vertical-align: -0.15rem;
                        @include iconSelectPrevent();
                    } 

                    #linkedInIcon {
                        height: calc($contactIconsHeightPC + 0.1rem);
                        padding-right: $contactIconsTextGapPC;
                        @include iconSelectPrevent();
                    }
                }
            }
        }
        
        #educationContainer {
            #educationHatIcon {
                height: $basicInfoIconsHeightPC;
                @include iconSelectPrevent();
            }

            #educationList {
                .educationInfoItem {
                    list-style-type: none;
                    margin-top: 1.4rem;

                    .educationYear {
                        display: inline-block;
                        margin-left: 0.8rem;
                    }
                }
            } 
        } 
    }


    #contactInfoContainer, #educationContainer, #approachContainer, #skillsWrapper {
        #educationList, #approachList, #techSkillListFull, #softSkillListFull {
            padding-left: 0;
            margin: 0;

            .approachItem:hover, .regularListItem:hover {
                background-color: $listItemColorHover;
                cursor: pointer;
            }
        
            .approachItem, .regularListItem {
                width: 100%;
                padding: $listItemPadding;
                box-shadow: $listItemShadow;
                box-sizing: border-box;
                background-color: $listItemColor; 
                @include accordionStyling;
                list-style-type: none;
                position: relative;
            }
        }
    } 
    
    #approachContainer:hover {
        background-color: $approachSectionColorHover;
    }

    #approachContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3.5rem 8% 3.5rem 8%;
        box-sizing: border-box;
        background-color: $approachSectionColor;
        
    
        #puzzleIcon {
            height: $puzzleIconHeightPC;
            @include iconSelectPrevent();
        }

        
        #approachList {
            .approachItem {
                padding-right: 5rem;
                margin-top: $listItemVerticalMarginPC;
                border-radius: 1rem;
                font-size: $approachItemFontPC;

                .dropdownDescr {
                    font-size: $approachDropdownFontPC;
                }
            }
        } 
    }
    
    #skillsWrapper:hover {
        background-color: $skillSectionColorHover;
    }

    #skillsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
        padding: 3.5rem 8% 3.5rem 8%;
        box-sizing: border-box;
        background-color: $skillsSectionColor;
    
        #techSkillsContainer, #softSkillsContainer {
            width: 84%;
        }
    

        #gearIcon {
            height: $gearIconHeightPC;
            @include iconSelectPrevent();
        }

        #speechIcon {
            height: $speechIconHeightPC;
            padding-top: 0.4rem;
            @include iconSelectPrevent();
        }


        #techSkillListFull, #softSkillListFull {
            padding: 0 0.2rem 0 0.2rem;
            box-sizing: border-box;
    
            
            .eachSkill {
                margin-top: $listItemVerticalMarginPC;
                border-radius: 1rem;
                font-size: $skillNameFontPC;
            }
        }   
    }   
}


@media screen and (min-width: 1335px) {
    
    #skillsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        #techSkillsContainer, #softSkillsContainer {
            width: 45%;
            padding: 0;
        }
    }
} 