$navColor: white;
$dropdownMenuColor: rgba(230, 230, 230, 1);
$dropdownLinkColor: rgba(125, 125, 125, 0.6);
$dropdownLinkHoverColor: black;

$navFontPC: 1.1rem;

$testColor: yellow;

$navHeight: 3rem;
$contentsWidth: 30%; 
$logoWidth: 40%;
$fillerWidth: 30%;

$navContentWidthPC: min(345px, 40%);
$logoWidthPC: min(150px, 20%);


$fillerWidthPC: 40%;

$dropdownLinkGap: 1rem;
$dropdownMainLinkGap: 0.6rem;


@mixin toggle-burger-menu($display) {
    display: $display;
    width: 60%;
    height: 100vh;
    position: absolute;
    top: 100%;
    background-color: rgba(190, 190, 190, 0.95);
    z-index: 999;
    
    #navList {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0;
        margin-top: 2.5rem;
        list-style-type: none;

        .linkWrapper {
            width: 100%;
            

            &:hover {
                background-color: rgba(150, 150, 150, 0.7);
            }

            .navlink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0.7rem 0 0.7rem 0;
                text-decoration: none;
                color: white;
            }
        }

        #linkWrapper2 {
            #link2 {
                padding-bottom: 0;
            }
            
            #projectDropdown {
                display: none;
                
                .projectLink {
                    display: block;
                    text-align: center;
                    padding-top: 1rem;
                    text-decoration: none;
                    color: white;
                }

                #projectLink2 {
                    padding-bottom: 0.8rem;
                }
            } 
        }
        
        #linkWrapper2:hover #projectDropdown { // ADD ACCORDION INSTEAD 
            display: block
        }
    }
}



// DESIGN FOR MOBILE PHONES
.bodyDisableScroll {
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    height: $navHeight;
    position: relative;
    background-color: $navColor;

    #burgerMenuIconWrapper {
        height: 1.6rem;
        padding-left: 0.6rem;

        #burgerMenuIcon {
            width: 100%;
            height: 100%;
        }
    }

    .burgerMenuClosed {
        @include toggle-burger-menu($display: none);
    }

    .burgerMenuOpened {
        @include toggle-burger-menu($display: block);
    }
        
    #logoWrapper {
        width: $logoWidth;

        #logoLink {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
    }

    #spaceFiller {
        width: $fillerWidth;
    }
} 


   
// DESIGN FOR DESKTOPS 
@media screen and (min-width: 480px) {
    
    nav {
        
        #burgerMenuIconWrapper {
            display: none;
        }

        .navListWrapper {
            display: block;
            width: $navContentWidthPC;
            height: 100%;
            position: static;
            background-color: inherit;
            z-index: 999;

            #navList {
                flex-direction: row;
                margin: 0;
            
                .linkWrapper {
                    height: 100%;

                    &:hover {
                        background-color: rgba(230, 230, 230, 1);
                    }
                    
                    .navlink {
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        text-decoration: none;
                        font-size: $navFontPC;
                        color: black;
                    }
                }

                #linkWrapper2:hover #projectDropdown {
                    display: block;
                }
                
                #linkWrapper2 {
                    position: relative;
            
                    #link2 {
                        padding-bottom: 0.7rem;
                    }

                    #projectDropdown {
                        display: none;
                        position: absolute;
                        background-color: $dropdownMenuColor;
                 
                        .projectLink {
                            display: block;
                            margin-bottom: $dropdownLinkGap;
                            text-align: center;
                            text-decoration: none;
                            font-size: $navFontPC;
                            color: $dropdownLinkColor;
                        }
            
                        .projectLink:hover {
                            color: $dropdownLinkHoverColor;
                        }
            
                        #mainProjectLink {
                            margin-top: $dropdownMainLinkGap;
                            padding-bottom: 0.6rem;
                            border-bottom: 0.2rem solid white;
                        }
                    }
                }
            }
        }

        

        #logoWrapper {
            width: $logoWidthPC;
            flex-grow: 1;
            
            #logoLink {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: $navFontPC;
            }
        }
            
        #spaceFiller {
            width: 0;
        }
    }
}



@media screen and (min-width: 855px) {
         
    #spaceFiller {
        width: $fillerWidthPC;
    }
}







