@import "featurePanel";

 

// MOBILE DESIGN
@include panelMobile();

#sassLogoImg {
    border-radius: 50%;
}

#typescriptLogoImg {
    border-radius: 2rem;
}


// DESKTOP DESIGN 
@media screen and (min-width: 480px) {
    
    @include panelPC();  
    
    #typescriptLogoImg {
        border-radius: 2.9rem;
    }
}

