@mixin blogpost($width) {
    .blogpost {
        width: $width;
        padding: 0.5rem 1rem;
        border: 2px solid hsla(0, 0%, 75%, 1);
        border-radius: 0.3rem;
        box-sizing: border-box;
    
        .headerWrapper {
            display: flex;
            align-items: center;
            column-gap: 0.8rem;
            margin-bottom: 0.4rem;
    
            .profileWrapper {
                display: flex;
                align-items: center;
                column-gap: 0.4rem;
        
                .profileImgWrapper {
                    width: 25px;
                    height: 25px;
            
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            
                h3 {
                    margin: 0;
                    font-size: 13px;
                    font-weight: normal;
                }
            }
        }
        
    
        h4 {
            margin: 0 0 0.3rem 0;
            font-size: 1rem;
            font-family: "Montserrat-Medium";
        }
    
        p {
            margin: 0;
            font-weight: normal;
            font-size: 12px;
        }
    }
}
