#authFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    width: 50%;
    padding: 4rem 2rem;
    margin: 20vh auto 0;
    border: 2px solid lightblue;
    border-radius: 0.8rem;

    #errorText {
        color: red;
    }
    
    input {
        width: 300px;
        height: 2rem;
        padding: 1.2rem 0.7rem 1.2rem;
        box-sizing: border-box;
        font-size: 1rem;
        border: 2px solid hsla(0, 0%, 81%, 1);
        border-radius: 0.3rem;

        &:focus {
            border-color: hsla(0, 0%, 51%, 1);
            outline: none;
        }
    }

    #submitButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        padding: 0.8rem 0;
        margin-top: 0.1rem;
        border-radius: 0.4rem;
        border: 2px solid hsla(0, 0%, 81%, 1);
        font-family: "Montserrat-Medium";
        letter-spacing: 1px;
        
        &:hover {
            transform: scale(1.01);
        }
    }
}

